[Unit]
Description=LoFives Wearable OSC Instrument Interface
ConditionFileIsExecutable=/usr/local/bin/lofives
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lofives
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
